 body{
        color: black;
        font: helvetica;
    }
/* ---------First block  title ------------*/    
#show_title{
        background: url('../img/w.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: hidden;
    } 
#show_title h1{
     color: white;
     font-size: 150%;
     text-align: center;
     position: relative;
     padding: 250px;
}

/* --------- block  menu  ------------*/
 #menu{

    color:grey;
    font-size: 150%;
    text-align: center;
    position: relative;
    padding: 2%;
 }

/* ---------  content  ------------*/
#content{
    color:grey;
    font-size: 150%;
    text-align: center;
    position: relative;
    padding: 5%;
}
#content img{
    width: 140px;
    height: 190px;
}
/* ---------  description  ------------*/



/* ---------  projects  ------------*/



/* --------- block  social and contact  ------------*/
#social{
    color:black;
    font-size: 150%;
    text-align: center;
    position: relative;
    padding: 7%
}

#twitter{
   float: left;
   width: 50%;
}

#github{
    float: right;
    width: 50%;
}