<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src='https://googledrive.com/host/0B65HWXQz0chKeUZpcHVkcXZrdnM/Captura de pantalla 2014-03-24 a la(s) 16.10.21.png'>
      <div class="caption">
        <h3>Mexico children´s rights network app</h3>
        <p>This app show information about children´s rights in México. SocialTIC.org call to this challenge in codeandomexico.org/retos </p>
        <p><a href="https://github.com/MIKI90/Aplicaci-n-Infancia-Cuenta">Github Branch</a></p>
        <p><a href="https://github.com/MIKI90/infancia-cuenta-ios">Github Branch iOS</a></p>
        <p><a href="https://github.com/MIKI90/infancia-cuenta-android">Github Branch Android</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src='img/flapper-news.png'>
      <div class="caption">
        <h3>Flapper News Project exercise</h3>
        <p>This is an exercise of MEAN app (Mongo DB,Express JS,Angular JS and Node JS) by Thinkster tutorial in https://thinkster.io/mean-stack-tutorial/</p>
        <p><a href="https://github.com/MIKI90/flapper-news">Github Branch</a></p>
      </div>
    </div>
  </div>
</div>
