<div>
  <div class="text-center">
    <img src='https://googledrive.com/host/0B65HWXQz0chKeUZpcHVkcXZrdnM/Captura de pantalla 2014-03-24 a la(s) 16.10.21.png'>
    <a href='https://googledrive.com/host/0B65HWXQz0chKWUwzOWtLMk9hZkU/'><p>Mexico children´s rights network app</p></a>
    <p>This app show information about children´s rights in México. SocialTIC.org call to this challenge in codeandomexico.org/retos </p>
    <a a href='https://github.com/MIKI90/Aplicaci-n-Infancia-Cuenta'><p>Github Branch</p></a>
    <a a href='https://github.com/MIKI90/infancia-cuenta-ios'><p>Github Branch iOS</p></a>
    <a a href='https://github.com/MIKI90/infancia-cuenta-android'><p>Github Branch Android</p></a>
  </div>
</div>
